<div class="map__control map__control--tile-selector"
    [@controlWrapper]="controlWrapperAnimationState"
    (@controlWrapper.start)="onControlWrapperAnimationStart($event)"
    (@controlWrapper.done)="onControlWrapperAnimationEnd($event)"
    #controlwrapper>

    <section>
        <h2 class="map__control__title title">
            <span class="title__text">{{ controlTitle }}</span>
            <span class="pull-right title__icon title__icon--actionable" (click)="onHideControl($event)">
                <i class="glyphicon glyphicon-chevron-right" placement="bottom" [tooltip]="hideTooltipTxt"></i>
            </span>
        </h2>

        <div class="map__control__body">
            <select name="map-tile-selector" id="map-tile-selector" class="map__control__element form-control" (change)="onTileChange($event)" #tileselector>
                <option *ngFor="let tileKey of tileKeys" value="{{ tileKey }}">{{ tileKey }}</option>
            </select>
        </div>
    </section>
</div>

<app-leaflet-button
    controlClass="map__control--tile-selector-settings map__control--settings"
    [@button]="buttonState"
    (buttonClick)="onShowControl($event)">
    <i class="glyphicon glyphicon-cog"></i>
</app-leaflet-button>


