// *************************************#
// [_site.sass]
// *************************************#

html,
body
  position: relative
  width: 100%
  height: 100%
  margin: 0
  padding: 0

#logo
  margin: 0
  padding: 0

  .img
    width: 90px
    height: 45px

// --------------------------------------
// [Titles] ::start
// --------------------------------------

.title
  .title__icon.title__icon--actionable:hover
    cursor: pointer

// --------------------------------------
// [Titles] ::end
// --------------------------------------

// --------------------------------------
// [Map Controls] ::start
// --------------------------------------

.map__control
  .map__control__title
    margin: 0
    padding: 10px 0
    font-size: 16px
    color: #FFFFFF

  .map__control__body
    padding: 15px 0

// --------------------------------------
// [Map Controls] ::end
// --------------------------------------


