const geoserverWorkspace = '';

export const environment = {
  production: false,
  sarai_map_config: {
    geoserver: {
      workspace: geoserverWorkspace,
      wmsTileLayerUrl: '',
      restApiEndpoint: ''
    },
    suitability_maps: {
      countrLevelLayerSuffix: '',
      municipalLevelLayerSuffix: '',
      propertyFilterName: ''
    },
    ndvi_maps: {
      eeApiEndpoint: '',
      eeApiEndpointMethod: 'GET'
    },
    rainfall_maps: {
      eeApiEndpoint: '',
      eeApiEndpointMethod: 'GET'
    },
    location_api: {
      region: {
        endpoint: '',
        method: 'GET'
      },

      province: {
        endpoint: '',
        method: 'GET'
      }
    }
  }
};


