export const environment = {
  production: false,
  ga: {
    code: ''
  },
  sarai_map_config: {
    geoserver: {
      baseUrl: '',
      restApiEndpoint: ''
    },
    translations: {
      static: {
        prefix: '',
        ext: '.json'
      }
    },
    suitability_maps: {
      countrLevelLayerSuffix: '',
      municipalLevelLayerSuffix: '',
      propertyFilterName: '',
      cropsApiEndpoint: '',
      cropsApiEndpointMethod: 'GET',
      imageRootPath: '',
      wms: {
        workspace: '',
        tiled: true
      }
    },
    crop_production_area_maps: {
      wms: {
        workspace: '',
        tiled: true
      }
    },
    ndvi_maps: {
      eeApiEndpoint: '',
      eeApiEndpointMethod: 'GET'
    },
    rainfall_maps: {
      eeApiEndpoint: '',
      eeApiEndpointMethod: 'GET'
    },
    location_api: {
      region: {
        endpoint: '',
        method: 'GET'
      },

      province: {
        endpoint: '',
        method: 'GET'
      }
    }
  }
};


