<div class="info-overlay" [class.hidden]="!visible">
    <button class="btn btn--1 info-overlay__btn-trigger" (click)="toggle()">{{ btnText }}</button>
    <div class="info-overlay__content" [@infoOverlay]="overlayAnimationState">
        <div class="container">
            <div class="row content-wrapper">
                <div class="col-md-4">
                    <h2>NDVI Maps</h2>

                    <p>
                        Using available satellite data, SARAi NDVI map can monitor the flood and damage extent during typhoons which can be used
                        during field assessments. Through this monitoring scheme, affected communities can easily be located. SARAi NDVI map can
                        also provide a near real-time estimation of the planted areas nationwide or per region. Greener color indicates existence
                        of vegetation.
                    </p>

                    <div>
                        <h3>Project 2, Environmental Characterization and Development of Integrated Crop Management</h3>
                        <dl class="dl-horizontal">
                            <dt>Study Leaders:</dt>
                            <dd>Engr. Vicente Ballaran, Engr. Moises Dorado</dd>

                            <dt>URA:</dt>
                            <dd>Jerome Suarez, Leo Viado, Kezia Shem Brusola</dd>

                            <dt>Project Leader</dt>
                            <dd>Dr. Artemio Salazar</dd>
                        </dl>
                    </div>

                    <div>
                        <h3>Project 3, Knowledge Portal Development</h3>
                        <dl class="dl-horizontal">
                            <dt>Systems Developers:</dt>
                            <dd>Exequiel Ceasar Navarrete, Roinand Aguila</dd>

                            <dt>Systems Documentation:</dt>
                            <dd>Jeyneth Ann Mariano</dd>

                            <dt>Project Leader</dt>
                            <dd>Prof. Concepcion Khan</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-md-8">
                    <figure style="margin-top: 20px">
                        <img src="/assets/img/ui/how-to-use/ndvi-maps.png" alt="Suitability Maps" class="img-responsive" />
                    </figure>

                    <h3 class="text-center">How to use</h3>

                    <div class="row">
                        <div class="col-sm-6">
                            <ol>
                                <li>
                                    <p>
                                        <strong>Select</strong> a starting date.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Select</strong> an end date.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Select</strong> a province.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Click</strong> Filter.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong class="text-uppercase">Map Source</strong> - Select one from the many types of maps to have different
                                        views of the selected location.
                                    </p>
                                </li>
                            </ol>
                        </div>

                        <div class="col-sm-6">
                            <ol start="6">
                                <li>
                                    <p>
                                        <strong>Zoom in and out</strong> of the map to have a detailed view.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Measure the area</strong> of a specific location using this tool.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Drag the slider</strong> to make the slider lighter or darker.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Click on any point</strong> on the map to view the coordinates,
                                        NDVI Times Series Chart, and NDVI Day of the Year Chart
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


