<app-leaflet-map lat="13" lng="122" zoom="6" #leaflet>
    <router-outlet></router-outlet>

    <div class="control-wrapper control-wrapper--left pull-left" map-control>
        <div class="map-type">
            <app-leaflet-button
                controlClass="map__control--map-data-type map__control--suitability-map"
                btnTooltip="Suitability Maps"
                btnTooltipPosition="right"
                (buttonClick)="toggleMapTypesState(suitabilityMapButton, suitabilityMapPanel)"
                #suitabilityMapButton>

                <i class="glyphicon glyphicon-grain"></i>
            </app-leaflet-button>

            <app-suitability-map-panel (hideButtonClick)="suitabilityMapButton.toggleActiveState()" #suitabilityMapPanel #mapTypePanel>
            </app-suitability-map-panel>
        </div>

        <div class="map-type">
            <app-leaflet-button
                controlClass="map__control--map-data-type map__control--crop-production-area"
                btnTooltip="Crop Production Area"
                btnTooltipPosition="right"
                (buttonClick)="toggleMapTypesState(cropProductionAreaButton, cropProductionAreaPanel)"
                #cropProductionAreaButton>

                <i class="glyphicon glyphicon-leaf"></i>
            </app-leaflet-button>

            <app-crop-production-area-panel (hideButtonClick)="cropProductionAreaButton.toggleActiveState()" #cropProductionAreaPanel #mapTypePanel>
            </app-crop-production-area-panel>
        </div>

        <div class="map-type">
            <app-leaflet-button
                controlClass="map__control--map-data-type map__control--ndvi"
                btnTooltip="Normalized Difference Vegetation Index (NDVI)"
                btnTooltipPosition="right"
                (buttonClick)="toggleMapTypesState(ndviButton, ndviPanel)"
                #ndviButton>

                <i class="glyphicon glyphicon-cloud"></i>
            </app-leaflet-button>

            <app-ndvi-panel (hideButtonClick)="ndviButton.toggleActiveState()" #ndviPanel #mapTypePanel>
            </app-ndvi-panel>
        </div>

        <div class="map-type">
            <app-leaflet-button
                controlClass="map__control--map-data-type map__control--rainfall-map"
                btnTooltip="Rainfall Map"
                btnTooltipPosition="right"
                (buttonClick)="toggleMapTypesState(rainfallMapButton, rainfallMapPanel)"
                #rainfallMapButton>

                <i class="glyphicon glyphicon-tint"></i>
            </app-leaflet-button>

            <app-rainfall-map-panel (hideButtonClick)="rainfallMapButton.toggleActiveState()" #rainfallMapPanel #mapTypePanel>
            </app-rainfall-map-panel>
        </div>
    </div>

    <div class="control-wrapper control-wrapper--right pull-right" map-control #controlWrapperUpperRight>
        <app-leaflet-tile-selector
            [controlTitle]="'TILE_SELECTOR.TITLE' | translate"
            [hideTooltipTxt]="'HIDE' | translate"
            (onBeforeShowControl)="onTileSelectorShow($event)"
            (onAfterHideControl)="onTileSelectorHide($event)">
        </app-leaflet-tile-selector>

        <app-leaflet-geocoder [placeholder]="'GEOCODER.PLACEHOLDER' | translate"></app-leaflet-geocoder>
        <app-leaflet-zoom></app-leaflet-zoom>
        <app-leaflet-measure></app-leaflet-measure>
    </div>

    <div class="control-wrapper control-wrapper--social" map-control>
        <ul class="list list-unstyled">
            <li class="list__item">
                <a href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://159.203.253.31"
                    class="btn btn--dome btn--facebook"
                    [tooltip]="'SHARE.FACEBOOK.TOOLTIP' | translate"
                    tooltipPlacement="left"
                    (click)="openNewWindow($event, facebookShareAnchor.href, 'shareOnFacebook', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250')"
                    #facebookShareAnchor>
                    <i class="social-icon social-icon--facebook"></i>
                </a>
            </li>

            <li class="list__item">
                <a href="https://twitter.com/intent/tweet/?text=Check this out! http://159.203.253.31 %23ProjectSARAI"
                    class="btn btn--dome btn--twitter"
                    [tooltip]="'SHARE.TWITTER.TOOLTIP' | translate"
                    tooltipPlacement="left"
                    (click)="openNewWindow($event, twitterShareAnchor.href, 'shareOnTwitter', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250')"
                    #twitterShareAnchor>
                    <i class="social-icon social-icon--twitter"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="control-wrapper control-wrapper--interface-controls" map-control>
        <ul class="list list-unstyled">
            <li class="list__item">
                <a href="#"
                    class="btn btn--dome btn--translate"
                    [tooltip]="'TRANSLATE.TOOLTIP' | translate"
                    tooltipPlacement="left"
                    (click)="changeLang($event)">
                    <i class="interface-control-icon interface-control-icon--translate"></i>
                </a>
            </li>

            <li class="list__item">
                <a href="#"
                    class="btn btn--dome btn--download-map-image"
                    [tooltip]="'DOWNLOAD_MAP_IMAGE.TOOLTIP.MAIN' | translate"
                    tooltipPlacement="left"
                    (click)="$event.preventDefault(); imageDownloadSidebar.toggle()">

                    <i class="interface-control-icon interface-control-icon--pdf"></i>
                </a>
            </li>

            <li class="list__item">
                <a href="#"
                    class="btn btn--dome btn--watch-videos"
                    [tooltip]="'WATCH_VIDEO.TOOLTIP.MAIN' | translate"
                    tooltipPlacement="left"
                    (click)="$event.preventDefault(); videoSidebar.toggle()">

                    <i class="interface-control-icon interface-control-icon--video"></i>
                </a>
            </li>
        </ul>
    </div>

    <app-leaflet-sidebar containerClass="leaflet-sidebar--sarai-1"
        (onHidden)="suitabilityEnVideo.pause(); suitabilityFilVideo.pause();"
        #videoSidebar>
        <header class="sidebar__title-wrapper" sidebar-title>
            <img src="/assets/img/ui/sarai-logo-complete.png" alt="Project SARAI" class="img-responsive" />

            <h2 class="title">{{ 'WATCH_VIDEO.TITLE' | translate }}</h2>
        </header>

        <div sidebar-content>
            <section class="group">
                <h3 class="group__title title">{{ 'WATCH_VIDEO.VERSION.EN' | translate }}</h3>

                <div class="aspect aspect-ratio-16x9">
                    <div class="aspect__inner">
                        <video id="introductory-video-english"
                            class="introductory-video-english introductory-video video-responsive aspect__media-content"
                            width="1920"
                            height="1080"
                            controls
                            #suitabilityEnVideo>
                            <source type="video/webm" src="/assets/videos/introductory-videos/english/maps.webm">
                            <source type="video/mp4" src="/assets/videos/introductory-videos/english/maps.mp4">
                            <source type="video/ogg" src="/assets/videos/introductory-videos/english/maps.ogv">
                        </video>
                    </div>
                </div>
            </section>

            <section class="group">
                <h3 class="group__title title">{{ 'WATCH_VIDEO.VERSION.FIL' | translate }}</h3>

                <div class="aspect aspect-ratio-16x9">
                    <div class="aspect__inner">
                        <video id="introductory-video-filipino"
                            class="introductory-video-filipino introductory-video video-responsive aspect__media-content"
                            width="1920"
                            height="1080"
                            controls
                            #suitabilityFilVideo>
                            <source type="video/webm" src="/assets/videos/introductory-videos/filipino/maps.webm">
                            <source type="video/mp4" src="/assets/videos/introductory-videos/filipino/maps.mp4">
                            <source type="video/ogg" src="/assets/videos/introductory-videos/filipino/maps.ogv">
                        </video>
                    </div>
                </div>
            </section>
        </div>
    </app-leaflet-sidebar>

    <app-leaflet-sidebar containerClass="leaflet-sidebar--sarai-1 download-image-form-wrapper" #imageDownloadSidebar>
        <header class="sidebar__title-wrapper" sidebar-title>
            <img src="/assets/img/ui/sarai-logo-complete.png" alt="Project SARAI" class="img-responsive" />

            <h2 class="title">{{ 'DOWNLOAD_MAP_IMAGE.TITLE' | translate }}</h2>
        </header>

        <div class="sidebar__content" sidebar-content>
            <app-download-image-form (processComplete)="previewPdf($event)"></app-download-image-form>
        </div>
    </app-leaflet-sidebar>

    <app-leaflet-opacity-slider [opacity]="layersOpacity" map-control></app-leaflet-opacity-slider>
</app-leaflet-map>

<div class="modal--pdf-preview modal fade" tabindex="-1" role="dialog" aria-labelledby="pdfPreviewModalLabel" aria-hidden="true"
    bsModal
    (onShown)="addPdf()"
    (onHidden)="removePdf()"
    #pdfPreviewModal="bs-modal">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="pdfPreviewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title" #pdfPreviewModalTitle>PDF Preview</h4>
            </div>

            <div class="modal-body">
                <div class="preloader preloader--pdf-loader preloader--visible" *ngIf="pdfLoaderVisible">
                    <div class="preloader__content">
                        <div class="sk-wave">
                            <div class="sk-rect sk-rect1"></div>
                            <div class="sk-rect sk-rect2"></div>
                            <div class="sk-rect sk-rect3"></div>
                            <div class="sk-rect sk-rect4"></div>
                            <div class="sk-rect sk-rect5"></div>
                        </div>
                    </div>
                </div>

                <pdf-viewer
                    *ngIf="pdfUrl !== null"
                    [src]="pdfUrl"
                    [after-load-complete]="pdfLoadComplete.bind(this)"
                    original-size="false"
                    show-all="true"
                    style="display: block;">
                </pdf-viewer>
            </div>

            <div class="modal-footer">
                <a class="btn btn-primary" [href]="pdfUrl" [attr.download]="pdfFilename">Download</a>

                <button type="button" class="btn btn-primary" (click)="pdfPreviewModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>


