<div class="map__control map__control--panel"
    [@controlWrapper]="controlWrapperAnimationState"
    #controlwrapper>

    <section class="map__control__section">
        <h2 class="map__control__title title">
            <span class="title__text">Normalized Difference Vegetation Index (NDVI)</span>
            <span class="pull-right title__icon title__icon--actionable" (click)="onHideButtonClick($event)">
                <i class="glyphicon glyphicon-chevron-left" placement="bottom" tooltip="Hide"></i>
            </span>
        </h2>

        <div class="map__control__body">
            <form class="ndvi-filter-form smart-form" [formGroup]="filterForm" (ngSubmit)="processRequest()">
                <div class="form-group">
                    <label for="ec_starting_date_sel">Starting Date</label>
                    <input type="text" id="ec_starting_date_sel" name="ec_starting_date_sel" class="form-control" placeholder="YYYY-MM-DD" [formControl]="startDate" />
                    <div class="help-block-wrapper">
                        <span class="help-block" *ngIf="startDate.hasError('required') && startDate.touched">
                            Starting Date is required.
                        </span>
                        <span class="help-block" *ngIf="startDate.hasError('dateISO') && startDate.touched">
                            Starting Date must be in YYYY-MM-DD format.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ec_scan_range_txt">Scan Range (in days):</label>
                    <input type="text" id="ec_scan_range_txt" name="ec_scan_range_txt" class="form-control" [formControl]="scanRange" />
                    <div [hidden]="scanRange.valid || scanRange.untouched">
                        <span class="help-block" *ngIf="scanRange.hasError('required') && scanRange.touched">
                            Scan Range is required.
                        </span>
                        <span class="help-block" *ngIf="scanRange.hasError('number') && scanRange.touched">
                            Scan Range must be a number.
                        </span>
                    </div>
                </div>

                <div class="form-group form-group--btn-group">
                    <button type="submit" class="btn btn-success btn-block" [disabled]="!filterForm.valid">Filter</button>
                </div>
            </form>
        </div>
    </section>
</div>


