<div class="main-container">
    <div class="navbar navbar-main navbar-default navbar--s-1">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 id="logo" class="logo navbar-brand">
                    <a class="logo__link" href="http://sarai.ph">
                        <img src="/assets/img/ui/sarai-logo.png" alt="Project SARAI" class="img"/>
                    </a>
                    <span class="hidden">Project SARAI</span>
                </h1>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>

<app-dynamic-modal></app-dynamic-modal>


