<app-leaflet-map lat="13" lng="122" zoom="6" #leaflet>
    <router-outlet></router-outlet>

    <div class="control-wrapper control-wrapper--left pull-left">
        <app-map-type #suitabilityMap>
            <app-leaflet-button
                control-class="map__control--map-data-type map__control--suitability-map"
                btn-tooltip="Suitability Maps"
                btn-tooltip-position="right"
                (buttonClick)="suitabilityMap.togglePanel($event)"
                map-type-button>

                <i class="glyphicon glyphicon-grain"></i>
            </app-leaflet-button>

            <app-leaflet-control-panel map-type-panel>
                <section class="map__control__section">
                    <h2 class="map__control__title title">
                        <span class="title__text">Suitability Map</span>
                        <span class="pull-right title__icon title__icon--actionable" (click)="suitabilityMap.togglePanel($event)">
                            <i class="glyphicon glyphicon-chevron-right" tooltipPlacement="bottom" tooltip="Hide"></i>
                        </span>
                    </h2>

                    <div class="map__control__body">
                        <p>
                            Shows what crops are best to plant in a specific area to attain maximum yield.
                        </p>
                    </div>
                </section>
            </app-leaflet-control-panel>
        </app-map-type>

        <app-map-type #cropProductionArea>
            <app-leaflet-button
                control-class="map__control--map-data-type map__control--crop-production-area"
                btn-tooltip="Crop Production Area"
                btn-tooltip-position="right"
                (buttonClick)="cropProductionArea.togglePanel($event)"
                map-type-button>

                <i class="glyphicon glyphicon-leaf"></i>
            </app-leaflet-button>

            <app-leaflet-control-panel map-type-panel>
                <section class="map__control__section">
                    <h2 class="map__control__title title">
                        <span class="title__text">Crop Production</span>
                        <span class="pull-right title__icon title__icon--actionable" (click)="cropProductionArea.togglePanel($event)">
                            <i class="glyphicon glyphicon-chevron-right" tooltipPlacement="bottom" tooltip="Hide"></i>
                        </span>
                    </h2>

                    <div class="map__control__body">
                        <p>
                            Some text here.....
                        </p>
                    </div>
                </section>
            </app-leaflet-control-panel>
        </app-map-type>

        <app-map-type #ndvi>
            <app-leaflet-button
                control-class="map__control--map-data-type map__control--ndvi"
                btn-tooltip="Normalized Difference Vegetation Index (NDVI)"
                btn-tooltip-position="right"
                (buttonClick)="ndvi.togglePanel($event)"
                map-type-button>

                <i class="glyphicon glyphicon-cloud"></i>
            </app-leaflet-button>

            <app-leaflet-control-panel map-type-panel>
                <section class="map__control__section">
                    <h2 class="map__control__title title">
                        <span class="title__text">Normalized Difference Vegetation Index (NDVI)</span>
                        <span class="pull-right title__icon title__icon--actionable" (click)="ndvi.togglePanel($event)">
                            <i class="glyphicon glyphicon-chevron-right" tooltipPlacement="bottom" tooltip="Hide"></i>
                        </span>
                    </h2>

                    <div class="map__control__body">
                        <p>
                            Some text here.....
                        </p>
                    </div>
                </section>
            </app-leaflet-control-panel>
        </app-map-type>

        <app-map-type #rainfallMap>
            <app-leaflet-button
                control-class="map__control--map-data-type map__control--rainfall-map"
                btn-tooltip="Rainfall Map"
                btn-tooltip-position="right"
                (buttonClick)="rainfallMap.togglePanel($event)"
                map-type-button>

                <i class="glyphicon glyphicon-tint"></i>
            </app-leaflet-button>

            <app-leaflet-control-panel map-type-panel>
                <section class="map__control__section">
                    <h2 class="map__control__title title">
                        <span class="title__text">Rainfall Map</span>
                        <span class="pull-right title__icon title__icon--actionable" (click)="rainfallMap.togglePanel($event)">
                            <i class="glyphicon glyphicon-chevron-right" tooltipPlacement="bottom" tooltip="Hide"></i>
                        </span>
                    </h2>

                    <div class="map__control__body">
                        <p>
                            Some text here.....
                        </p>
                    </div>
                </section>
            </app-leaflet-control-panel>
        </app-map-type>
    </div>

    <div class="control-wrapper control-wrapper--right pull-right">
        <app-leaflet-tile-selector></app-leaflet-tile-selector>
        <app-leaflet-geocoder></app-leaflet-geocoder>
        <app-leaflet-zoom></app-leaflet-zoom>
        <app-leaflet-measure></app-leaflet-measure>
    </div>

    <app-leaflet-opacity-slider [opacity]="layersOpacity"></app-leaflet-opacity-slider>
</app-leaflet-map>


