<div class="main-container">
    <div class="navbar navbar-main navbar-default navbar--s-1">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 id="logo" class="logo navbar-brand">
                    <a class="logo__link" href="http://sarai.ph">
                        <img src="/assets/img/ui/sarai-logo.png" alt="Project SARAI" class="img"/>
                    </a>
                    <span class="hidden">Project SARAI</span>
                </h1>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

    <div bsModal #logModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="logModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title" #logModalTitle></h4>
                </div>

                <div class="modal-body" #logModalBody></div>
            </div>
        </div>
    </div>
</div>


