// *************************************#
// [_buttons.sass]
// *************************************#

.btn--leaflet
  width: 42px
  padding: 9px
  background-color: #FFFFFF
  color: rgba(27, 83, 52, 0.9)

  &.btn--inverted
    background-color: rgba(27, 83, 52, 0.9)
    color: #FFFFFF


