<div class="info-overlay" [class.hidden]="!visible">
    <button class="btn btn--1 info-overlay__btn-trigger" (click)="toggle()">{{ btnText }}</button>
    <div class="info-overlay__content" [@infoOverlay]="overlayAnimationState">
        <div class="container">
            <div class="row content-wrapper">
                <div class="col-md-4">
                    <h2>Suitability Maps</h2>

                    <p>
                        Knowing what and where to plant are important considerations if you want to maximize your productivity and yield.
                        It is also important to identify the parts of the country which are feasible to plant so that the policy makers
                        and the local government unit can be guided on the agricultural programs that they will execute.
                    </p>

                    <p>
                        The SARAI Suitability Maps can be used to identify the different locations of the country which are highly suitable,
                        moderately suitable, and marginally suitable for its initial six crops. By identifying these areas,
                        resources will not be put to waste and farmers can attain more yield.
                    </p>

                    <div>
                        <h3>Project 2, Environmental Characterization and Development of Integrated Crop Management</h3>
                        <dl class="dl-horizontal">
                            <dt>Study Leader:</dt>
                            <dd>Prof. Victorino Bato</dd>

                            <dt>URA:</dt>
                            <dd>Roel Fucio</dd>

                            <dt>Project Leader</dt>
                            <dd>Dr. Artemio Salazar</dd>
                        </dl>
                    </div>

                    <div>
                        <h3>Project 3, Knowledge Portal Development</h3>
                        <dl class="dl-horizontal">
                            <dt>Systems Developers:</dt>
                            <dd>Exequiel Ceasar Navarrete, Roinand Aguila</dd>

                            <dt>Systems Documentation:</dt>
                            <dd>Jeyneth Ann Mariano</dd>

                            <dt>Project Leader</dt>
                            <dd>Prof. Concepcion Khan</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-md-8">
                    <figure style="margin-top: 20px">
                        <img src="/assets/img/ui/how-to-use/suitability-maps.png" alt="Suitability Maps" class="img-responsive" />
                    </figure>

                    <h3 class="text-center">How to use</h3>

                    <div class="row">
                        <div class="col-sm-6">
                            <ol>
                                <li>
                                    <p>
                                        <strong class="text-uppercase">Selecting Crops</strong> - Choose the crop you want. You may also choose the suitability
                                        level of the selected crop below.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong class="text-uppercase">Suitability Level</strong> - Check the box of your desired suitability level.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Type</strong> in a location to determine its suitability for the selected crop.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong class="text-uppercase">Map Source</strong> - Select one from the many types of maps to have different
                                        views of the selected location.
                                    </p>
                                </li>
                            </ol>
                        </div>

                        <div class="col-sm-6">
                            <ol start="5">
                                <li>
                                    <p>
                                        <strong>Zoom in and out</strong> of the map to have a detailed view.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Measure the area</strong> of a specific location using this tool.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Drag the slider</strong> to make the slider lighter or darker.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Translate</strong> the page to Filipino. You may also watch tutorial videos on how to use the application.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong class="text-uppercase">Share &amp; Download</strong> - Share the information to friends and family by
                                        sharing the 15-layer map on Facebook or Twitter. You may also download the image for future reference.
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


