<div class="modal--base modal fade" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true"
    bsModal
    (onShown)="onShow($event)"
    (onHidden)="onHide($event)"
    #contentModal="bs-modal">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="contentModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title" #contentModalTitle>{{ title }}</h4>
            </div>

            <div class="modal-body" #contentModalBody>
                <div #chartContainer></div>
            </div>

            <div class="modal-footer" #contentModalFooter>
                <ul class="list list-unstyled list-inline">
                    <li class="list__item">
                        <button class="btn btn-default" type="button" value="csv" #csvBtn (click)="processExport(csvBtn.value)">Download as CSV</button>
                    </li>
                    <li class="list__item">
                        <button class="btn btn-default" type="button" value="image" #imageBtn (click)="processExport(imageBtn.value)">Download as Image</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


