<div class="map__control map__control--panel map__control--crop-production-area-panel"
    [@controlWrapper]="controlWrapperAnimationState"
    #controlwrapper>

    <section class="map__control__section">
        <h2 class="map__control__title title">
            <span class="title__text">{{ 'CROP_PRODUCTION_AREA.TITLE' | translate }}</span>
            <span class="pull-right title__icon title__icon--actionable" (click)="onHideButtonClick($event)">
                <i class="glyphicon glyphicon-chevron-left" placement="bottom" tooltip="Hide"></i>
            </span>
        </h2>

        <div class="map__control__body">
            <accordion class="accordion--s-1" closeOthers="true" *ngIf="(cropData | async)?.length > 0">
                <accordion-group
                    *ngFor="let data of (cropData | async)"
                    [isDisabled]="!data.subcrops"
                    [class.active]="isCropActive(data.slug)">

                    <div accordion-heading
                        (click)="redirect($event, data.slug)">
                        <span class="heading__icon">
                            <i class="crop-icon crop-icon--{{ data.slug }}"></i>
                        </span>
                        <span class="heading__text">{{ data.name }}</span>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </section>
</div>


