// *************************************#
// [styles.scss]
// *************************************#

@import "sass/main/main"

// --------------------------------------
// [Application Loader] ::start
// --------------------------------------

app-root
  display: block

app-root:empty + .preloader,
.preloader--visible
  opacity: 1
  z-index: 100

// [No JavaScript] ::start
.no-js .preloader--base .sk-wave
  display: none

.no-js-message
  display: none
  width: 40em
  margin: 0 auto
  text-align: center

  h1
    font-size: 1.5em
    color: #FFFFFF

  p
    color: #FFFFFF

  .no-js &
    display: block
// [No JavaScript] ::end

// --------------------------------------
// [Application Loader] ::end
// --------------------------------------

// --------------------------------------
// [Browser Height: 900px up] ::start
// --------------------------------------

+min-screen-height(900px)
  .loading-container .img-responsive
    top: 34%

// --------------------------------------
// [Browser Height: 900px up] ::end
// --------------------------------------


