<div class="map__control map__control--panel"
    [@controlWrapper]="controlWrapperAnimationState"
    #controlwrapper>

    <section class="map__control__section">
        <h2 class="map__control__title title">
            <span class="title__text">{{ 'RAINFALL.TITLE' | translate }}</span>
            <span class="pull-right title__icon title__icon--actionable" (click)="onHideButtonClick($event)">
                <i class="glyphicon glyphicon-chevron-left" placement="bottom" tooltip="Hide"></i>
            </span>
        </h2>

        <div class="map__control__body">
            <!--<app-rainfall-map-filter-form></app-rainfall-map-filter-form>-->
        </div>
    </section>

    <section class="map__control__section map-legend" *ngIf="isMapActive()">
        <h2 class="map__control__title title">
            <span class="title__text">Legend</span>
        </h2>

        <div class="map__control__body">
            <dl class="dl-horizontal legend-list">
                <dt class="legend-item legend-item--header legend-item--key">Rainfall</dt>
                <dd class="legend-item legend-item--header legend-item--value">(mm)</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #ff0000;"></span>
                    <span class="hidden">0.0</span>
                </dt>
                <dd class="legend-item legend-item--value">0.0</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #ff6900;"></span>
                    <span class="hidden">25.0</span>
                </dt>
                <dd class="legend-item legend-item--value">25.0</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #ffff00;"></span>
                    <span class="hidden">50.0</span>
                </dt>
                <dd class="legend-item legend-item--value">50.0</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #62ff00;"></span>
                    <span class="hidden">75.0</span>
                </dt>
                <dd class="legend-item legend-item--value">75.0</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #00ff00;"></span>
                    <span class="hidden">100.0</span>
                </dt>
                <dd class="legend-item legend-item--value">100.0</dd>
            </dl>
        </div>
    </section>
</div>


