<div class="map__control map__control--panel map__control--suitability-map-panel"
    [@controlWrapper]="controlWrapperAnimationState"
    #controlwrapper>

    <section class="map__control__section">
        <h2 class="map__control__title title">
            <span class="title__text">{{ 'SUITABILITY.TITLE' | translate}}</span>
            <span class="pull-right title__icon title__icon--actionable" (click)="onHideButtonClick($event)">
                <i class="glyphicon glyphicon-chevron-left" placement="bottom" tooltip="Hide"></i>
            </span>
        </h2>

        <div class="map__control__body">
            <p>
                <!-- Shows what crops are best to plant in a specific area to attain maximum yield. -->
                {{ 'SUITABILITY.DESCRIPTION' | translate}}
            </p>

            <accordion closeOthers="true" *ngIf="(cropData | async)?.length > 0">
                <accordion-group *ngFor="let data of (cropData | async)" [isDisabled]="!data.subcrops" [class.active]="router.isActive('/suitability-maps/' + data.slug)">
                    <div accordion-heading
                        (click)="suitabilityRedirect($event, data.slug, !!data.subcrops)">
                        <span class="heading__icon">
                            <i class="crop-icon crop-icon--{{ data.slug }}"></i>
                        </span>
                        <span class="heading__text">{{ 'SUITABILITY.' + data.name | translate}}</span>
                    </div>

                    <div class="subcrop"
                        *ngFor="let subcrop of data.subcrops"
                        [class.active]="router.isActive('/suitability-maps/' + subcrop.slug)"
                        (click)="suitabilityRedirect($event, subcrop.slug, false)">
                        {{ 'SUITABILITY.' + subcrop.name | translate}}
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </section>

    <section class="map__control__section suitability-level-filter" *ngIf="(levels | async)?.length > 0 && router.isActive('/suitability-maps')">
        <h2 class="map__control__title title">
            <span class="title__text">{{ 'LEVELS.TITLE' | translate}}</span>
        </h2>

        <div class="map__control__body">
            <ul class="list list-unstyled list--suitability-level">
                <li class="list__item suitability_levels--{{ level.slug }}" *ngFor="let level of (levels | async)">
                    <md-checkbox
                        [checked]="level.checked"
                        [ngModel]="level.checked"
                        (ngModelChange)="onToggleCheckbox($event, level)">
                        {{ 'LEVELS.' + level.translationKey | translate}}
                    </md-checkbox>
                </li>
            </ul>
        </div>
    </section>
</div>


